#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
}
:root {
  --primary: #1b4332;
  --secondary: #2d6a4f;
  --resalt: #81515a;
  --text: #ffffff;
  scroll-behavior: smooth;
}

.nav {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  justify-content: space-around; /* Alinea el logo a la izquierda y el hamburguesa a la derecha */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav a {
  text-decoration: none;
  color: var(--text);
  border-bottom: 0px solid; 
  transition: all ease 100ms;
}

.nav a:hover {
  border-bottom: 1px solid;
}


.nav h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

/* Muestra el hamburguesa solo en pantallas pequeñas */
.nav .hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.nav .hamburger .bar {
  width: 100%;
  height: 4px;
  background-color: var(--text);
}


.nav-links {
  display: flex;
}

.nav-links ul {
  display: flex;
  gap: 1rem;
}

.nav-links.active {
  display: block;
}

.nav-links ul {
  flex-direction: column;
}

header {
  font-size: 2rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/560662-forest-trees-foliage-nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Asegúrate de que esté detrás de otros elementos */
  filter: blur(3px) brightness(0.7);
}

header h2, header h3 {
  color: var(--text);
  margin: 0;
  z-index: 1;
}

section {
  padding: 2em;
  margin: 2em 0;
}

section h2 {
  color: var(--primary);
}

.card {
  padding: 2em;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #888;
}

.bton-hoverrut {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  z-index: 2;
}

.bton-hoverrut a {
  text-decoration: none;
  color: var(--text);
}

.bton-hoverrut:hover {
  background-position: 100% 0;
}

.bton-hoverrut:focus {
  outline: none;
}

.bton-hoverrut {
  background-image: linear-gradient(to right, var(--secondary), #40e495, #30dd8a, #2bb673);
}

/* Footer */
footer {
  background-color: var(--primary);
  color: var(--text);
  padding: 2rem 0;
  text-align: center;
  margin-top: 2rem;
}

footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

footer .footer-links a {
  text-decoration: none;
  color: var(--text);
  margin: 0 0.5rem;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav .hamburger {
    display: flex; /* Muestra el hamburguesa solo en pantallas pequeñas */
  }

  .nav-links {
    display: none; /* Esconde el menú por defecto */
    flex-direction: row;
    gap: 1rem;
  }

  .nav-links.active {
    display: flex; /* Muestra el menú cuando está activo */
    position: absolute;
    top: 60px; /* Justo debajo del header */
    left: 0;
    background-color: var(--primary);
    width: 100%;
    z-index: 1;
    justify-content: center;
    padding-bottom: 1rem;
  }

  header {
    height: 50vh;
    font-size: 1.5rem;
  }

  section {
    padding: 1.5em;
  }

  .btn-hover {
    width: 180px;
    font-size: 14px;
    height: 50px;
  }

  footer {
    padding: 1.5rem 0;
  }

  footer .footer-content {
    padding: 0 1rem;
  }

  footer h4 {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}

/* conctact */
#contacto {
  padding: 3rem 2rem;
  background-color: var(--primary);
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.info-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contacto-info {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto-info h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2e8b57; /* Verde */
  margin-bottom: 1rem;
}

.contacto-info p {
  font-size: 1.2rem;
  color: #2d6a4f; /* Verde oscuro */
}

.contacto-form {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto-form h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2e8b57; /* Verde */
  margin-bottom: 1.5rem;
}

.contacto-form form div {
  margin-bottom: 1.5rem;
}

.contacto-form label {
  display: block;
  font-size: 1rem;
  color: #181818;
  margin-bottom: 0.5rem;
}

.contacto-form input,
.contacto-form select,
.contacto-form textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contacto-form input:focus,
.contacto-form select:focus,
.contacto-form textarea:focus {
  border-color: #2e8b57;
  outline: none;
}

.contacto-form button {
  background-color: #2e8b57;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.contacto-form button:hover {
  background-color: #256d3a;
}

.contacto-form p {
  color: green;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

.contacto-form .required {
  color: red;
}

@media (max-width: 768px) {
  .contacto-container {
    flex-direction: column;
  }

  .contacto-info,
  .contacto-form {
    flex: 1 1 100%;
  }
}

@media (min-width: 769px) {
  .nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .nav .hamburger {
    display: none; /* Esconde el ícono hamburguesa en pantallas grandes */
  }
}

#terrenos {
  padding: 2rem;
  text-align: center;
}

#terrenos h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text);
}

#terrenos p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--text);
}

/* Estilo del carrusel */
.custom-carousel {
  width: 60%; /* Hace el carrusel más pequeño */
  height: fit-content; /* Limita la altura */
  margin: 0 auto;
}

.custom-carousel-item {
  width: 100%;
  height: 100%; /* Ajusta la imagen al tamaño del contenedor */
  object-fit: cover; /* Mantiene la relación de aspecto sin deformar la imagen */
}
/* Responsividad */
@media (max-width: 768px) {
  #terrenos h2 {
    font-size: 1.5rem;
  }

  #terrenos p {
    font-size: 1rem;
  }

  .carousel-button {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
  }
}

.herobody {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #2b3d15; /* Verde oscuro */
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.hero strong {
  font-weight: bold;
  color: #333;
}

.hero .highlight {
  font-weight: bold;
  color: #555;
}

.hero .final-note {
  font-size: 1rem;
  font-style: italic;
  color: #444;
  margin-top: 1.5rem;
}

/* Sección de características */
#Nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.factibles{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  color: var(--primary); /* Verde oscuro */
}

.feature-icon {
  font-size: 3.25rem;
  margin-bottom: 0.5rem;
  color: var(--primary); /* Verde oscuro */
}

.video p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .factibles {
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }


}